:root {
  color-scheme: light dark;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &::after,
  &::before {
    box-sizing: inherit;
  }
}

body {
  font: 400 clamp(.5rem, 10vw, 1rem) "Inter", system-ui;
  transition: background-color .25s ease, color .25s ease;
}

.container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  width: 100vw;
  text-align: center;
}
