html {
  color-scheme: light dark;
}

[data-theme="light"] {
  color-scheme: light only;
}

[data-theme="dark"] {
  color-scheme: dark only;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &::after,
  &::before {
    box-sizing: inherit;
  }
}

body {
  font: 400 1rem "Inter", system-ui;
  transition: background-color .25s ease, color .25s ease;
}

.container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  width: 100vw;
  text-align: center;
}

select {
  font-family: inherit;
}